broker.id={{ broker_id }}
listeners={{ listeners_type_1 }}://{{ host_name }}:{{ ssl_port }}
port={{ ssl_port }}
advertised.host.name={{ host_name }}
advertised.listeners={{ listeners_type_1 }}://{{ host_name }}:{{  ssl_port }}
ssl.keystore.location={{ ssl_keystore_location }}
ssl.keystore.password={{ ssl_keystore_password }}
ssl.key.password={{ssl_key_password }}
ssl.truststore.location={{ ssl_truststore_location }}
ssl.truststore.password={{ ssl_truststore_password  }}
security.inter.broker.protocol={{ security_inter_broker_protocol }}
ssl.endpoint.identification.algorithm={{ ssl_endpoint_identification_algorithm  }}
ssl.client.auth={{ ssl_client_auth }}
advertised.port={{ advertised_port }}
num.network.threads={{ num_network_threads }}
num.io.threads={{ num_io_threads }}
socket.send.buffer.bytes={{ socket_send_buffer_bytes }}
socket.receive.buffer.bytes={{ socket_receive_buffer_bytes }}
socket.request.max.bytes={{ socket_request_max_bytes }}
log.dirs={{ log_dirs }}
num.partitions={{ num_partitions }}
num.recovery.threads.per.data.dir={{ num_recovery_threads_per_data_dir }}
offsets.topic.replication.factor={{ offsets_topic_replication_factor }}
transaction.state.log.replication.factor={{ transaction_state_log_replication_factor }}
transaction.state.log.min.isr={{ transaction_state_log_min_isr }}
log.retention.hours={{ log_retention_hours }}
log.segment.bytes={{ log_segment_bytes }}
log.retention.check.interval.ms={{ log_retention_check_interval_ms }}
zookeeper.connect={{ zookeeper_host_1 }}:{{ zookeeper_port_1 }},{{ zookeeper_host_2 }}:{{ zookeeper_port_2 }},{{ zookeeper_host_3 }}:{{ zookeeper_port_3 }}
zookeeper.connection.timeout.ms={{ zookeeper_connection_timeout_ms }}
confluent.support.metrics.enable={{ confluent_support_metrics_enable }}
confluent.support.customer.id={{ confluent_support_customer_id }}
group.initial.rebalance.delay.ms={{ group_initial_rebalance_delay_ms }}
delete.topic.enable={{ delete_topic_enable }}

